Flask-Cors=3.0.3
MarkupSaf
Werkzeug
beautifulsoup4
bs4	
certifi	
chardet	
click
idna	
itsdangerous	
nltk
numpy
pandas	
pdfminer.six	
pip	
pycorenlp	
pycryptodome	
python-dateutil	
pytz	
requests	
scikit-learn	
scipy	
setuptools	
six	
sklearn	
urllib3	
wheel